extends ./layout/index
block contenido
  main.container.mt-5 
    .row 
      .col-md-5 
        img(src="./img/nosotros.jpg", alt="Img", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi non consequuntur perferendis obcaecati ut, soluta suscipit numquam ducimus deserunt sapiente, eveniet odit reiciendis unde veniam eos libero porro ab dolor.Dolor, veritatis asperiores minima dignissimos perspiciatis placeat explicabo cupiditate, sequi temporibus, rerum nisi odit nihil illo vel. Voluptate, placeat veritatis quis corrupti sed minima tenetur sit, repellendus dolor quae molestiae?At, facilis iusto quibusdam nisi similique pariatur veritatis ducimus eligendi atque itaque ad facere hic odit sit esse totam enim quis magni animi, perspiciatis, maxime tempore doloribus aliquam rerum. Expedita.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo illum iusto debitis perspiciatis non voluptas dolore veritatis distinctio ex magnam recusandae, molestiae voluptate exercitationem tenetur impedit? Autem iure debitis sapiente.Natus iure, optio reprehenderit laboriosam quibusdam eum. 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, nobis, distinctio magnam quibusdam ab placeat obcaecati incidunt reiciendis commodi rerum vel illum amet earum?
  .listado-iconos
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4   
          img(src="./img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quam labore reiciendis tenetur voluptate pariatur quidem iste veritatis enim ipsa, at recusandae nostrum placeat veniam? Ut neque fugit aliquam harum.
        .col-md-4   
          img(src="./img/icono_destinos.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Destino
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda neque earum consectetur quisquam temporibus natus aliquid voluptas, ex asperiores minima eos eum doloremque alias vel quia quam impedit quis saepe?
        .col-md-4   
          img(src="./img/icono_precios.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Precios
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id quam labore reiciendis tenetur voluptate pariatur quidem iste veritatis enim ipsa, at recusandae nostrum placeat veniam? Ut neque fugit aliquam harum.