extends ./layout/index
block contenido
  main.container.mt-5 
    h1.text-center.mt-5 #{pagina}
    .row 
      h2.d-block.w-100.text-center Agrega un testimonial

      .row.justify-content-center 
        .col-md-8 
          