footer.container.py-5 
  .row 
    .col-md-6 
      nav.nav.footer.justify-content-center.justify-content-md-start
        a.nav-link(href="/nosotros") Nostros  
        a.nav-link(href="viajes") Viajes 
        a.nav-link(href="testimoniales") Testimoniales
    .col
      p.copyright.text-center-md-right Derechos reservados 
        span #{actualYear}