header 
  div(class="navegacion")
    .container
      div(class="row-justify-content-center justify-content-md-between align-items-center py-4")
        .col-md-4.col-6 
          a(href="/") 
            img(src="/img/logo.svg", alt="Sitio logo", srcset="")
        .col-md-8
          nav.nav.justify-content-center.justify-content-md-end 
            a.nav-link(href="/nosotros") Nostros  
            a.nav-link(href="/viajes") Viajes 
            a.nav-link(href="/testimoniales") Testimoniales