doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{nombreSitio} | #{pagina}
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Lato&display=swap')
    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  body 
    include header 

    block contenido

    include footer